<html>
    <head><title>Customer 😋</title></head>
    <body>
        <div><h1>Place an Order 😋</h1></div>
        <div>
            <form class="form">
                <label for="recipient">Recipient:</label><br>
                <input type="text" id="recipient" name="recipient" value="Thiago"><br>
                <label for="CustomerName">Customer Name:</label><br>
                <input type="text" id="CustomerName" name="CustomerName" value="John"><br>
                <label for="Address">Post Code</label><br>
                <input type="text" id="Address" name="Address" value="SW1A 1AA"><br>
                <label for="ProductID">Product ID</label><br>
                <input type="text" id="ProductID" name="ProductID" value="SH50021"><br><br>
                <div class="col-12">
                    <button class="btn btn-primary">Submit form</button>
                </div>
              </form> 
              
        </div>
        <script src="js/customer.js"></script>
    </body>
</html>