<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <div id="div1">
        <a href="/customer">Customer</a>
        <a href="/product">Product</a>
    </div>
    <div id="div2"> 
        <a href="https://2bffd846trial-dev-workflowmanagementflp-approuter.cfapps.eu10.hana.ondemand.com/cp.portal/site#Shell-home"
            target="_blank">Agent</a>
    </div>
    <div id="div3">
        <a href="/kitchen">Kitchen</a>
    </div>
    <div id="div4">
        <a href="/delivery">Delivery</a>
    </div>
</body>

</html>