<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <a href="/customer">
        <div id="div1">
            <h1>Customer 😋</h1> 
        </div>
    </a>
    
    <a href="https://2bffd846trial-dev-workflowmanagementflp-approuter.cfapps.eu10.hana.ondemand.com/cp.portal/site#Shell-home" target="_blank">
        <div id="div2"> 
            <h1>Agent ☎️</h1>
        </div>
    </a>
    
    <a href="/kitchen">
        <div id="div3">
            <h1>Kitchen 👩‍🍳</h1>
        </div>
    </a>
    
    <a href="/delivery">
        <div id="div4">
            <h1>Delivery 🛵</h1>
        </div>
    </a>
</body>

</html>