<html>

<head>
    <title>SMB Eats</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍕</text></svg>">
</head>

<body>
    <a href="/customer">
        <div id="customer-div">
            <h1>Customer 😋</h1> 
        </div>
    </a>
    
    <a href="https://2bffd846trial-dev-workflowmanagementflp-approuter.cfapps.eu10.hana.ondemand.com/cp.portal/site#Shell-home" target="_blank">
        <div id="agent-div"> 
            <h1>Agent ☎️</h1>
        </div>
    </a>
    
    <a href="/kitchen">
        <div id="kitchen-div">
            <h1>Kitchen 👩‍🍳</h1>
        </div>
    </a>
    
    <a href="/delivery">
        <div id="delivery-div">
            <h1>Delivery 🛵</h1>
        </div>
    </a>
</body>

</html>