<html>
    <head>
        <title>👩‍🍳 Kitchen - ByDEats🍕</title>
        <link rel="stylesheet" type="text/css" href="/css/kitchen.css">
    </head>
    <body>
        <header>
            <h1>👩‍🍳 Kitchen - ByD<span class="eats">Eats</span> 🍕</h1>
        </header>
        <div class="preparation">
            <h2 id="prepOrders">#</h2><h2> orders in preparation</h2>
        </div>
        <div>
            <table id="meals">
                <thead>
                    <th class="small-cell">Picture</th>
                    <th class="small-cell">Order</th>
                    <th class="medium-cell">Time</th>
                    <th>Description</th>
                    <th class="medium-cell">Action</th>
                </thead>
                <tbody>
                    <td><img class="td-image" src="https://cdn.tasteatlas.com/images/dishes/b05a0af72ad845f3a6abe16143d7853a.jpg?w=400&h=400" alt="pizza"></td>
                    <td>12</td>
                    <td>Mon 25 Jan 14:57:30 GMT 2021</td>
                    <td>Extra Hot pepperonixtra Hot pepperonixtra Hot pepperonixtra Hot pepperonixtra Hot pepperonixtra Hot pepperon</td>
                    <td><button>Release</button></td>
                </tbody>
            </table>
            <table id="tasks"></table>
        </div>
        
        <script src="js/kitchen.js"></script>
    </body>
</html>