<html>
    <head>
        <title>👩‍🍳 Kitchen - ByDEats🍕</title>
        <link rel="stylesheet" type="text/css" href="/css/kitchen.css">
    </head>
    <body>
        <header>
            <h1>👩‍🍳 Kitchen - ByD<span class="eats">Eats</span> 🍕</h1>
        </header>
        <div class="preparation">
            <h2 id="prepOrders">#</h2><h2> orders in preparation</h2>
        </div>
        <div>
            <table id="meals">
                <thead>
                    <th class="small-cell">Picture</th>
                    <th class="small-cell">Order</th>
                    <th>Time</th>
                    <th>Description</th>
                    <th>Action</th>
                </thead>
                <tbody></tbody>
            </table>
            <table id="tasks"></table>
        </div>
        
        <script src="js/kitchen.js"></script>
    </body>
</html>