body{
    height: 100%;
    padding: 0;
    margin: 0;
}

header{
    background-color: #2B9EB3;
    color: #DBD5B5;
}

th{
    width: 33%;
}

footer button{
    width: 100%;
    height:8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #F8333C;
    border-color: #000000;
    font-size: 30px;
}

.orders-ready{
    background-color:4D5382;
    color: #DBD5B5;
    padding: 10px;
}

.map-responsive{

    width:100%;
    height: 80%;


}

.map-responsive iframe{
    width: 100%;
    height: 100%;
}
 


 


