header{
    background-color: #2B9EB3;
    color: #DBD5B5;
}

th{
    width: 33%;
}

button:disabled,
button[disabled]{
  opacity: 70%;
}


.delivery-button{
    width: 100%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #F8333C;
    border-color: #000000;
    font-size: 4vw;
    position: fixed;
    bottom: 0px;
}

.orders-ready{
    background-color:4D5382;
    color: #DBD5B5;
    padding: 10px;
}

.map-responsive{
    width:100%;
    height: 80%;
}

.map-responsive iframe{
    width: 100%;
    height: 90%;
} 
 
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 40%;
    border-radius: 0.5rem;
    text-align: center;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-button{
    width: 20%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #F8333C;
    border-color: #F8333C;
    font-size: 2vw;
}

 


