html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    
}

a {
    text-decoration: none;
}

div {
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1 {
    background: #DDD;
}

#div2 {
    background: #AAA;
}

#div3 {
    background: #777;
}

#div4 {
    background: #444;
}
